.MuiPaper-root-12.MuiPaper-shadow24-38.MuiPaper-rounded-13.MuiDialog-paper-151.MuiDialog-paperWidthSm-153 {
    width: 50%;
}

.details-heading {
    font-size: 16px !important;
    color: darkred !important;
}

.details-body {
    color: grey !important;
}

.h2.MuiTypography-root-41.MuiTypography-title-47 {
    color: darkred !important;
}